<div>
  <section>
    <md-content layout="row" layout-padding >
      <h2>Activity</h2>
    </md-content>

    <md-content layout="row" layout-padding >
      <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
        aaa
      </md-whiteframe>
    </md-content>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
      bbb
    </md-whiteframe>
  </section>
  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
    ccc
  </md-whiteframe>
</div>
<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
  ddd
</md-whiteframe>
