
<div>
  <section>
    <md-content layout="row" layout-padding >
		  <h2>Systems</h2>
    </md-content>

    <div flex layout="row">
      <md-content layout="column" layout-padding flex="25">
        <md-whiteframe class="md-whiteframe-z1" layout="column">
          <md-button class="buttonAlignLeft">
            <span class=""></span>
            User Security manager
          </md-button>
          <md-button class="buttonAlignLeft">
            <span class=""></span>
            Building Manager
          </md-button>
          <md-button class="buttonAlignLeft">
            <span class=""></span>
            Bussiness Role Manager
          </md-button>
        </md-whiteframe>
      </md-content>

      <md-content layout="column" layout-padding flex="60">
        <md-whiteframe class="md-whiteframe-z1" layout="column">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="options">
              <md-content class="md-padding">

                <table>
                  <thead>
                    <tr>
                      <th>Option</th>
                      <th>Access Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Option 1</td>
                      <td>Access Type 1</td>
                    </tr>
                    <tr>
                      <td>Option 2</td>
                      <td>Access Type 2</td>
                    </tr>
                    <tr>
                      <td>Option 3</td>
                      <td>Access Type 4</td>
                    </tr>
                  </tbody>
                </table>

              </md-content>
            </md-tab>
            <md-tab label="roles">
              <md-content class="md-padding" layout="row">
                <md-content class="md-padding" layout-padding>
                  <table>
                    <thead>
                      <tr>
                        <th>Role</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Role 1</td>
                      </tr>
                      <tr>
                        <td>Role 2</td>
                      </tr>
                      <tr>
                        <td>Role 3</td>
                      </tr>
                    </tbody>
                  </table>
                </md-content>

                <md-content class="md-padding" layout-padding>
                  <table>
                    <thead>
                      <tr>
                        <th>Option</th>
                        <th>Access Type</th>
                        <th>Enabled</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Option 1</td>
                        <td>Access Type 1</td>
                        <td><md-switch ng-model="true" class="md-primary"></md-switch></td>
                      </tr>
                      <tr>
                        <td>Option 2</td>
                        <td>Access Type 2</td>
                        <td><md-switch ng-model=""></md-switch></td>
                      </tr>
                      <tr>
                        <td>Option 3</td>
                        <td>Access Type 3</td>
                        <td><md-switch ng-model=""></md-switch></td>
                      </tr>
                    </tbody>
                  </table>
                </md-content>

              </md-content>
            </md-tab>
          </md-tabs>
        </md-whiteframe>
      </md-content>

    </div>

  </section>
</div>
