
<div>
  <section>
		<h2>Systems:</h2>

    <div flex layout="row">
      <section layout="column" flex="25">
        <md-whiteframe class="md-whiteframe-z1" layout="column">
          <md-button class="">
            <span class=""></span>
            User Security manager
          </md-button>
          <md-button class="">
            <span class=""></span>
            Building Manager
          </md-button>
          <md-button class="">
            <span class=""></span>
            Bussiness Role Manager
          </md-button>
        </md-whiteframe>
      </section>
      <section flex="50">
        <md-whiteframe class="md-whiteframe-z1" layout="column">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="options">
              <md-content class="md-padding">

                <table>
                  <thead>
                    <tr>
                      <th>Option</th>
                      <th>Access Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Option 1</td>
                      <td>Access Type 1</td>
                    </tr>
                    <tr>
                      <td>Option 2</td>
                      <td>Acces type 2</td>
                    </tr>
                    <tr>
                      <td>Option 3</td>
                      <td>Acces type 4</td>
                    </tr>
                  </tbody>
                </table>

              </md-content>
            </md-tab>
            <md-tab label="roles">
              <md-content class="md-padding">
                TODO: ROLES
              </md-content>
            </md-tab>
          </md-tabs>
        </md-whiteframe>
      </section>

    </div>

  </section>
</div>
